
<nav class="navbar navbar-light"style="background-color: #e3f2fd;" >
  <div class="cat">
    <img src="logo1.png" />
  </div>
  <a class="navbar-brand" href="#">Actualizar datos</a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group mb-4">
        <li class="list-group-item"  routerLinkActive="active" routerLink="line-chart">Arduino N° 1</li>
        <li class="list-group-item" routerLinkActive="active" routerLink="bar-chart">Arduino N° 2</li>
        <!-- <li class="list-group-item" routerLinkActive="active" routerLink="doughnut-chart">Doughnut Chart</li>
        <li class="list-group-item" routerLinkActive="active" routerLink="radar-chart">Radar Chart</li>
        <li class="list-group-item" routerLinkActive="active" routerLink="pie-chart">Pie Chart</li>
        <li class="list-group-item" routerLinkActive="active" routerLink="bubble-chart">Bubble Chart</li> -->
      </ul>
    </div>

    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        
<h5><p class="text-center"> &copy;Todos los derechos reservados.2022 </p></h5>
<h5><p class="text-center">Estudiantes. INGENIERIA INFORMATICA SEMESTRE 9 JORNADA SABATINA </p></h5>
<h5><p class="text-center">Corporación Universitaria Autonoma de Nariño.</p></h5>

        </div>
    </div>
  </div>
</footer>
